:root {
    --date-card-height: var(--header-height);
}

.date-card {
    background-color: var(--ticker-date-color);
    /* height: auto; */
    /* height: 80px; */
    height: var(--date-card-height);
  }
  
.date-card-table {
    /* fix hard coding? */
    /* height: 80px; */
    height: var(--date-card-height);
    /* height: 100%; */
}