[data-theme="light"] {
    --theme-background-color: rgb(255,255,255);
    --theme-text-color: black;

    --theme-table-row-color-primary: rgb(255, 255, 255);
    --theme-table-row-color-secondary: rgb(238,238,238);
    --theme-table-hover-color: rgb(200,200,200);

    --theme-ticker-date-color: rgb(215,215,215);
}

[data-theme="dark"] {
    --theme-background-color: rgb(0, 0, 0);
    --theme-text-color: rgb(255, 255, 255);

    --theme-table-row-color-primary: rgb(0,0,0);
    --theme-table-row-color-secondary: rgb(17,17,17);
    --theme-table-hover-color: rgb(55,55,55);

    --theme-ticker-date-color: rgb(40,40,40);


}

:root {
    --background-color: var(--theme-background-color);
    --text-color: var(--theme-text-color);

    --table-row-color-primary: var(--theme-table-row-color-primary);
    --table-row-color-secondary: var(--theme-table-row-color-secondary);
    --table-hover-color-primary: var(--theme-table-hover-color);

    --ticker-date-color: var(--theme-ticker-date-color);
}

/* 
--------------
Base CSS
--------------
*/
* {
    box-sizing: border-box;
}
  
body, html, #root {
    font-family: "Arial", sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

.boxscore-containers {
    padding-top: 100px;
}