* {
  box-sizing: border-box;
}

body, html, #root {
  font-family: "Arial", sans-serif;
  margin: 0;
  height: 100%;
  /* background-color: black; */
  /* background-color: white; */
  /* background-color: #282D35; */
}




/* ScoreCard */
.card {
  cursor: pointer;
  border: 1px solid lightgray;
  margin: 0;
  padding: 0;
}

/* Swiper css */

.swiper-slide {
  width: auto;
}

.swiper-ticker-date {
width: 80px;
height: 100px;
background-color: rgb(215,215,215);
/*border-bottom: 2px solid gray;*/
/*border-top: 2px solid gray;*/
/*border-right: 2px solid gray;*/
/*border-left: 2px solid gray;*/
}

.team-icon {
  padding: 0px;
  margin: 0px;
}

.team-abbr {
  padding: 0px;
  margin: 0px;
}
.team-score {
  /* border: 1px solid black; */
}
table {
  border: 2px solid yellowgreen;
  width: 100% !important;
  /* table-layout: fixed;
  width: 150px; */
}

table, th, td {
  border: 2px solid cyan;
}


.card-table {
  border: 1px solid orange;
  width: 100%;
}

.card-table-head {
  padding: 0px;
  margin: 0px;
}

.card-table-body {
  padding: 0px;
  margin: 0px;
}

.card-table-row {
  padding: 0px;
  margin: 0px;
}

