/* ScoreCard */
.score-card {
  cursor: pointer;
  border: 1px solid lightgray;
  margin: 0;
  padding: 0;
  width: 165px;
}

.team-icon {
  padding: 0px;
  margin: 0px;
  width: 10px;
}

.team-abbr {
  padding: 0px;
  margin: 0px;
  width: 40px;
}
.team-score {
  /* border: 1px solid black; */
  /* width: 50px; */
  text-align: end;
}

.card-table {
  /* border: 1px solid orange; */
  width: 100%;
}

.card-table-head {
  padding: 0px;
  margin: 0px;
}

.card-table-body {
  padding: 0px;
  margin: 0px;
}

.card-table-row {
  padding: 0px;
  margin: 0px;
}

.date-card {
  background-color: lightgray;
  /* height: auto; */
  height: 80px;
}

.date-card-table {
  /* fix hard coding? */
  height: 80px;
  /* height: 100%; */
}


/* 
--------------
Boxscore Table
--------------
*/
.boxscore-container {
  display: flexbox;
  margin: auto;
  justify-content: center;
  /* width: 70%; */
  /* width: 1280px; */
  border: 1px solid chartreuse;
}
@media screen and (min-width: 1280px) {
  .boxscore-container {width: 1280px;}
}

.boxscore-title {
  text-align: center;
}

.boxscore-table {
  width: 100%;
  text-align: end;
}

.boxscore-table th:first-child,
.boxscore-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  text-align: left;
}


td,th {
  white-space: no-wrap;
  overflow: hidden;
}